# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/drupal/sites/*/*settings*.php
/drupal/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/drupal/sites/*/files
/drupal/sites/*/public
/drupal/sites/*/private
/drupal/sites/*/files-public
/drupal/sites/*/files-private

# Ignore paths that may contain temporary files
/drupal/sites/*/translations
/drupal/sites/*/tmp
/drupal/sites/*/cache

# Ignore Jetbrains
/.idea/
/drupal/vendor/


# Ignore drupal core (if not versioning drupal sources)
/drupal/vendor
/drupal/core
/drupal/modules/README.txt
/drupal/profiles/README.txt
/drupal/sites/development.services.yml
/drupal/sites/example.settings.local.php
/drupal/sites/example.sites.php
/drupal/sites/README.txt
/drupal/themes/README.txt
/drupal/.csslintrc
/drupal/.editorconfig
/drupal/.eslintignore
/drupal/.eslintrc.json
/drupal/.gitattributes
/drupal/.htaccess
/drupal/.ht.router.php
/drupal/autoload.php
/drupal/composer.json
/drupal/composer.lock
/drupal/example.gitignore
/drupal/index.php
/drupal/INSTALL.txt
/drupal/LICENSE.txt
/drupal/README.txt
/drupal/robots.txt
/drupal/update.php
/drupal/web.config

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal/sites/default/files/php/

#mizu
/drupal/modules/contrib/
/drupal/themes/contrib/
.ddev
permission_drupal.sh