{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="row">
    <div class="masonry">
  
      <div class="masonry-filter-container text-center">
        <span>Category:</span>
        <div class="masonry-filter-holder">
          <div class="masonry__filters" data-filter-all-text="All Categories"></div>
        </div>
      </div>
    
      <hr>
      <div class="row">
        <div class="masonry__container">
	  {% for row in rows %}
	    {{ row.content }}
	  {% endfor %}
	</div>
      </div>
    </div>
</div>
