<div class="teeth-table">
  <table>
    <tbody>
      <tr class="plan_t">
        <td>TP</td>
        {% for tooth in teeth_data %}
          <td>{{ tooth.plan_t }}</td>
        {% endfor %}
      </tr>
      <tr class="plan_r">
        <td>R</td>
        {% for tooth in teeth_data %}
          <td>{{ tooth.plan_r }}</td>
        {% endfor %}
      </tr>
      <tr class="befund">
        <td>B</td>
        {% for tooth in teeth_data %}
          <td>{{ tooth.befund }}</td>
        {% endfor %}
      </tr>
      <tr class="zahn head">
        <td>&nbsp;</td>
        {% for tooth in teeth_data %}
          <td class="zahn-nr">{{ loop.index }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
