<div class="teeth-table">
  <table>
    <tbody>
      <tr class="plan_t">
        <td>TP</td>
        {% for item in content.field_therapieplanung_tp %}
          <td>{{ item.content['#title'] }}</td>
        {% endfor %}
      </tr>
      <tr class="plan_r">
        <td>R</td>
        {% for item in content.field_regelversorgung_r %}
          <td>{{ item.content['#title'] }}</td>
        {% endfor %}
      </tr>
      <tr class="befund">
        <td>B</td>
        {% for item in content.field_befund_b %}
          <td>{{ item.content['#title'] }}</td>
        {% endfor %}
      </tr>
      <tr class="zahn head">
        <td>&nbsp;</td>
        {% for item in content.field_zahn %}
          <td>{{ item.content['#title'] }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
